/ch3/HolaMundoEJB/nbproject/
/ch3/HolaMundoEJB/target/
/sga/sga-jee/target/
/sga/sga-jee/nbproject/
/ch4-JPA/holamundo-jpa/nbproject/
/ch4-JPA/holamundo-jpa/target/
/sga/sga-jee-jpa/target/
/sga/sga-jee_V1/target/
/sga/Jpa-Asociaciones-sga-jee/target/
/sga/sga-jee-consulta-jpql/target/
/sga/sga-jee-api-criteria/target/
/sga/sga-jee-transacciones-jpa/target/
/SgaJeeWeb/nbproject/private/
/SgaJeeWeb-V2/nbproject/private/
/SgaJeeWeb-V2/build/
/SgaJeeWeb-V2/dist/
/web-services/sumaws/target/
/web-services/ClienteSumaWS/target/
/SgaJeeWeb-V2-WS/nbproject/private/
/SgaJeeWeb-V2-WS/build/