/ch3/HolaMundoEJB/nbproject/
/ch3/HolaMundoEJB/target/
/sga/sga-jee/target/
/sga/sga-jee/nbproject/
/ch4-JPA/holamundo-jpa/nbproject/
/ch4-JPA/holamundo-jpa/target/
/sga/sga-jee-jpa/target/
/sga/sga-jee_V1/target/
/sga/Jpa-Asociaciones-sga-jee/target/
/sga/sga-jee-consulta-jpql/target/
/sga/sga-jee-api-criteria/target/